@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectroTech</title>
</head>
<body>
    <!-- Contenedor principal -->
    <div class="container-layout mt-4">
        <!-- contenedor principal de catalogo de productos -->
        <div class="contenedor-main-catalogo container">

            <!-- Sección de Categorías -->
            <section class="section-categorias">
                <div class="categorias-header">
                    <h2>Categorías</h2>
                    <a asp-area="" asp-controller="Catalogo" asp-action="CatalogoView" class="ver-todo-link">Ver Todos <i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="categorias-contenido">
                    <div class="categoria-item">
                        <a asp-area="" asp-controller="Catalogo" asp-action="CatalogoView" asp-route-categoriaId="1">
                            <img src="/resources/laptop.png" alt="Laptop">
                        </a>
                        <p>Laptop</p>
                    </div>
                    <div class="categoria-item">
                        <a asp-area="" asp-controller="Catalogo" asp-action="CatalogoView" asp-route-categoriaId="2">
                            <img src="/resources/pc.png" alt="PC">
                        </a>
                        <p>PC</p>
                    </div>
                    <div class="categoria-item">
                        <a asp-area="" asp-controller="Catalogo" asp-action="CatalogoView" asp-route-categoriaId="3">
                            <img src="/resources/mobiles.png" alt="Mobile">
                        </a>
                        <p>Mobiles</p>
                    </div>
                    <div class="categoria-item">
                        <a asp-area="" asp-controller="Catalogo" asp-action="CatalogoView" asp-route-categoriaId="4">
                            <img src="/resources/gaming.png" alt="Gaming">
                        </a>
                        <p>Gaming</p>
                    </div>
                    <div class="categoria-item">
                        <a asp-area="" asp-controller="Catalogo" asp-action="CatalogoView" asp-route-categoriaId="5">
                            <img src="/resources/smartWatch.png" alt="Smart Watch">
                        </a>
                        <p>Smart Watch</p>
                    </div>
                    <div class="categoria-item">
                        <a asp-area="" asp-controller="Catalogo" asp-action="CatalogoView" asp-route-categoriaId="6">
                            <img src="/resources/camara.png" alt="Camera">
                        </a>
                        <p>Camara</p>
                    </div>
                    <div class="categoria-item">
                        <a asp-area="" asp-controller="Catalogo" asp-action="CatalogoView" asp-route-categoriaId="7">
                            <img src="/resources/accesorios.png" alt="Accessories">
                        </a>
                        <p>Accessories</p>
                    </div>
                </div>

            </section>


            <!-- Sección de Top Ventas -->
            <section class="section-topVentas">
                <div class="topVentas-header">
                    <h2>Top de ventas</h2>
                    <a href="#" class="ver-todo-link">Ver todo <i class="fas fa-arrow-right"></i></a>
                </div>

                <div class="topVentas-contenido">
                    <div class="venta-item">
                        <div class="imagen-container">
                            <img src="/resources/topventas/ps4.png" alt="Play Station 4 Pro 1Tb">
                        </div>
                        <p>Play Station 4 Pro 1Tb</p>
                        <span>10% de descuento</span>
                    </div>

                    <div class="venta-item">
                        <div class="imagen-container">
                            <img src="/resources/topventas/airpods.png" alt="Airpods Pro 2">
                        </div>
                        <p>Airpods Pro 2</p>
                        <span>20% de descuento</span>
                    </div>

                    <div class="venta-item">
                        <div class="imagen-container">
                            <img src="/resources/topventas/macbook.png" alt="Apple MacBook Air 15'">
                        </div>
                        <p>Apple MacBook Air 15"</p>
                        <span>20% de descuento</span>
                    </div>

                    <div class="venta-item">
                        <div class="imagen-container">
                            <img src="/resources/topventas/samsungGalaxys23.png" alt="Samsung Galaxy S23">
                        </div>
                        <p>SAMSUNG Galaxy S23</p>
                        <span>30% de descuento</span>
                    </div>

                    <div class="venta-item">
                        <div class="imagen-container">
                            <img src="/resources/topventas/vr.png" alt="VR VisionTech X1">
                        </div>
                        <p>VR VisionTech X1</p>
                        <span>50% de descuento</span>
                    </div>

                    <div class="venta-item">
                        <div class="imagen-container">
                            <img src="/resources/topventas/vr2.png" alt="VR VisionTech X1">
                        </div>
                        <p>VR VisionTech X1</p>
                        <span>50% de descuento</span>
                    </div>
                </div>
            </section>

        </div>


    </div>
</body>
</html>

